
 
/**{
    border:1 solid green;
    
    }*/
body{
	background-color:white;}
#header{
    height:300px;
    /*background-color: #0a0a0a;*/
    background-image:url("http://fc06.deviantart.net/fs70/i/2011/347/6/f/grey_tiled_background_by_zacherygangrel-d4izztc.jpg");
 	background-size: 100px, 100px; 
   display:block;
   padding:5px;
   position:absolute; 
   width:100%;
   left:-10px;
    margin-top:-850px;
    
    }
    
 #navlist{
 
 position:absolute; 
 display:none;
 
transition:.5s linear
 }
.headercontent{
    
    
    font-size:30px;
    
    color: #ddddd;
    font-family: 'Arvo', serif;
    
    
    }
#headerleft{
    position:absolute;
    float:left;
    margin-left:30px;
    margin-top:210px;
    width: 200px;
    color: #cccccc 
    
    }
 #headermark{
 margin-left:35%;
 margin-top:150px; 
 
 
 }
#headerright{
    
    margin-top:20px;
    float:right;
 
     
    
    }
 # header ul{
	list-style-type: none;
	position: relative;
	float:left;
	padding-right:50px;
	
	
}


#headerleft:hover > ul{
display:block;
margin-top:-10px;
width:200px; 
transition:.5s linear;
position: absolute;
color: #777777;  
//border:1px solid; 
    


}
#headerleft li {

	transition: .3s linear; 
    display:block;
    font-size:20px;
    font-family:'Arvo', serif;
    margin-top: 10px;
    padding-top:10px; 
 	width:100%;
    position:relative;
    margin-left:-40px;
    padding-right:20px; 
  	
    


}

#headerleft li:hover{
    /*font-style:italic;*/
    
    margin-left:-20px; 
    width:100%; 
    color:black;  
    }
#headercenter{
display:block;
position:absolute;
margin-top:20px; 
left: 40%;
font-size: 100px;
padding-top: -50px;

} 


#headercenter:hover {
	transition: all 1.5s  ;
	transform: rotate(-360deg);
	}
 
#headerright:hover{
	transition:0.5s;
	transform: skew(20deg,10deg)
}
 


.head{
	font-size:30px;
    font-family:'Arvo', serif;
    display: block;
   
    padding-left: 40%;
    //border: 1px solid;
    

}
.backgroundpic{
    color:HSL(72, 0%, 75%);
    width:100%;
    height:879px;
    position:relative;
    display: block;
   
    
    }


#pic1{
	background-image: url(http://mag.splashnology.com/uploads/images/00/05/63/2011/03/03/7ded01.jpg);
	 background-size: 100px, 100px;
    
	 width:105%;
	left:-10px;
	 margin-top: 280px;
	 position: relative;
	  

}
#Intro{
margin-top:200px;
padding-top:50px;
height:500px;
font-family:'Arvo', serif;
color: black; 

//border:1px solid; 


}
#Intro p1{
font-size:40px; 
margin-left: 40%;
margin-top:50px;
//border:1px solid;  

}
#IntroContent{

height:400px;
width:70%;
margin-left: 15%;
margin-top:10px;


}


a {
    text-decoration:none;
    color:inherit;
        
    }

 #footer{
	position:relative;
	clear: both;	
	height: 140px;
    background-color:white;
    padding:0 px;
    margin-bot:-10px;
	color: white;
	font-family:'Arvo', serif;
	width:105%;
	left:-10px;
	margin-top:0px;
	
	
 
 
}
 

#projects li{
	transition: .3s linear; 
    display:block;
    font-size:30px;
    font-family:'Arvo', serif;
 	width:100%;
 	
    padding-right:0px;
    position:relative;
    //border: 1px solid;
}

#projects div{
	margin-bottom:30px;
    margin-top: 30px;
    padding-top:40px;
    //border: 1px solid blue;
}
#footer ul{
	
	position:absolute;
	display: block;
	width:80%;
	left:40%;
	font-size:50px;
	margin-top:10px;
	margin-bottom: 6px;
	}
#footer li{
	font-family:'Arvo', serif;
	display: inline-block;
	font-size: inherit; 
	margin-right: 30px;
	 
	} 

#footer img{
	position:relative; 
	right:0px;
	float:left;
	height:50px;
	opacity:0.5;
	transition: opacity .2s linear, color .2s linear;
}
#footer img:hover{
opacity: 1;


}
#footer p {
	margin-top: -50px;
	margin-bottom: -10px;
	position:relative;
	top:-30px;
	


}
